# Arquivos de sistema
.DS_Store
Thumbs.db
.vminfo

# Dependências
node_modules/
venv/
.env

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilação
/dist
/build

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Outros
*.log
*.bak

